.navbar
{
    height: 100%;
    width: 40%;
    top:0;
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: flex-end;
    
}

.navbarNavItem
{
    height: 90%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbarNavItem:hover
{
    border-bottom: 5px solid #ea80fc;;
}

.navWrapper
{
    height: 5vh;
    display: flex;
    background-color: #3f51b5;
    justify-content: space-between;
}

.navbarText
{
    height: 100%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

